
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.containerRegister{
  background: white;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container form{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
  
}
div .left{
  /* max-width: 468px; */
  width: 50%;
  height: 499px;
  float: left;
  text-align: center;
}
div .right{
  width: 50%;
  height: 499px;
  float:right;
  background-color: #0E1130;
  color: #C3C3CA;
  text-align: center;
  
}
.content{
  position:relative;
  top: 180px;
  /* left: 30px; */
}
.input-box{
  width: 300px;
  height: 60px;
  margin: 10px;
  padding-left: 10px;
}
div .input-box{
  font-size: medium;
  height: 35px;
 
}
div .submit-button{
  background-color: #FC4D36;
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  font-size: 22px;
  font-weight: 500;
  color: #FEFAF9;
}